@import '../public/style/reset';

$mobileFont: 14px;

nav {
	width: 100%;
	background: #eee;
	.nav-list {
		display: inline-block;
		width: 20px;
		height: 20px;
	}
	.nav-ul {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		text-align: center;
		li {
			padding: 1em 0;
		}
	}
}

.slider {
	width: 100%;
	background: url('../public/img/bg_01.jpg') center top no-repeat;
	background-size: cover;
	font-size: 40px;
	h1 {
			max-width: 100%;
			padding: 0.6em 5% 0 40%;
			img {
				display: block;
				max-width: 100%;
				height: auto;
			}
		}
	.time {
		padding: 15% 0 10% 35%;
		span {
			font-size: 0.8rem;
			display: inline-block;
			color: #fff;
			padding: 0.3em;
			background: rgba($color: #000000, $alpha: 0.5);
		}
		a {
			display: inline-block;
			text-decoration: none;
			color: #fff;
			font-size: 0.8rem;
			background: rgba($color: #a402b3, $alpha: 0.5);
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			padding: 0.3em 1em;
		};
	}
}

.icon {
	display: block;
	width: 3.125em;
	height: 3.125em;
	margin: 3.125em auto;
}

.vip {
	display: flex;
	flex-direction: row;
	dt {
		width: 30%;
		display: flex;
		align-items:center;
  	justify-content:center;
		img {
			width: 100%;
		}
	}
	dd {
		width: 70%;
		line-height: 21px;
		padding-left: 10px;
		h4 {
			font-weight: bold;
			font-size: 14px;
			margin-bottom: 10px;
		}
		p {
			font-size: 12px;
			text-align: justify;
		}
	}
}

@media screen and (min-width: 450px) {
	nav {
		.nav-ul {
			flex-direction: row;
		}
	}
	.slider {
		height: 493px;
		position: relative;
		font-size: 22px;
		h1{
			padding-top: 3em;
		}
		.time {
			position: absolute;
			top: 70%;
			left: 41%;
			padding: 0;
			span, a {
				font-size: 1em;
			}
		}
	}
}