<!-- ******************************************
*  Author : niuzz niuzz@hotmail.com
*  Created On : Tue Mar 06 2018
*  File : tmp.html
******************************************* -->

<!DOCTYPE html>
<html lang="zh_CN">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="niuzz niuzz@hotmail.com">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
<div>
    this is home
    <div class="alert alert-primary" role="alert">
        This is a primary alert—check it out! 你好
    </div>
    <div class='bt'>111</div>
    <img src="./public/img/undefind.png" alt="">
    <!-- 没有引入html-load用require引入图片 -->
    <!-- <%= require(url-loader?limit=1024&outputPath=public/img!./public/img/undefind.png)%> -->
</div>
</body>

</html>